/**
  * @name        Full-Width List
  * @description A block-level list element with well-defined, aligned list items.
  *
  * @markup
  *   <ul class="full-width-list">
  *     <li class="full-width-list__item">Item #1</li>
  *     <li class="full-width-list__item">Item #2</li>
  *     <li class="full-width-list__item">...</li>
  *   </ul>
  */

$full-width-list-vertical-padding:   20px !default;
$full-width-list-horizontal-padding: 15px !default;

.full-width-list {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.full-width-list__item {
  display: block;
  padding: $full-width-list-vertical-padding $full-width-list-horizontal-padding;
}
