.u-no-padding-top    { padding-top:    0 !important; }
.u-no-padding-left   { padding-left:   0 !important; }
.u-no-padding-bottom { padding-bottom: 0 !important; }
.u-no-padding-right  { padding-right:  0 !important; }

.uk-navbar-nav__item--first {
  margin-left: -$navbar-nav-padding-horizontal;
}

$utility-container-small-max-width: 900px !default;
$utility-container-small-padding:   30px !default;

.container--small,
.uk-container.container--small {
  max-width: $utility-container-small-max-width;
  padding: 0 $utility-container-small-padding;
}

