// Variables. Many of them UiKit Overrides

// Colors
$grey:                                #807f7b;
$black:                               #444;
$beige:                               #faf9f0;

$base-body-background:                linear-gradient(to bottom, $beige 80%, rgba($beige, 0)),
                                      url('/images/topo-map.svg') repeat-x bottom/$breakpoint-small,
                                      $beige;

$subtitle-color:                      $grey;
$base-link-color:                     $grey;

$navbar-background:                   rgba(0, 0, 0, 0.03);
$navbar-nav-hover-background:         rgba(0, 0, 0, 0.03);

$navbar-nav-color:                    $grey;

$button-primary-background:           darken($beige, 5);
$button-primary-hover-background:     darken($beige, 8);
$button-primary-active-background:    darken($beige, 12);

$button-color:                        $grey;
$button-primary-hover-color:          $grey;
$button-primary-active-color:         $grey;

// Typography
$base-body-font-size:                 20px;
$base-body-line-height:               28px;
$base-h1-font-size:                   48px;
$base-h1-line-height:                 50px;
$base-h2-font-size:                   36px;
$base-h2-line-height:                 40px;
$base-h3-font-size:                   24px;
$base-h3-line-height:                 30px;
$base-body-font-family:               "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-heading-font-family:            "Fanwood", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-nav-font-family:              $base-body-font-family;
$icon-font-path:                      'https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/fonts/';

@mixin hook-base-h1() { font-style: italic; }
@mixin hook-base-h2() { @include hook-base-h1; }

@mixin base-font() { font-size: 14px; }
@mixin hook-form() { @include base-font; }
.uk-form {
  @include base-font;
}

// Margins & Spacing
$base-margin:                         35px;
$utility-margin:                      $base-margin;
$base-margin-vertical:                $base-margin;
$full-width-list-horizontal-padding:  25px;
$navbar-nav-padding-horizontal:       20px;

